<ion-view title="CUSTOMERS">

    <!--navigation button on top-->
    <ion-nav-buttons side="left">
        <button menu-toggle="left"class="button button-icon icon ion-android-arrow-back"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button menu-toggle="right" class="button button-icon icon ion-android-arrow-forward"></button>
    </ion-nav-buttons>

    <div ng-controller="Customer" ng-app="customerModule">
    <!-- content-->
    <ion-content class="has-header">
        <ion-refresher
        pulling-text="Pull to refresh..."
        on-refresh="doRefresh()">
        </ion-refresher>
        <div class="ft-container">
            <table class="footable" data-page-size="5">
                <thead>
                    <tr>
                        <th>
                            Customer Name
                        </th>
                        <th data-hide="phone">
                            Full Name
                        </th>
                        <th data-hide="phone">
                            Phone
                        </th>
                        <th data-hide="phone">
                            Email
                        </th>
                        <th>
                            Action
                        </th>
                    
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="customer in customers()">
                        <td>{{customer.customer_name}}</td>
                        <td>{{customer.customer_firstname}} {{customer.customer_lastname}}</td>
                        <td>{{customer.customer_phone}}</td>
                        <td>{{customer.customer_email}}</td>
                        <td>
                            <a ng-click="viewCustomer(customer)" class="ft-icon-color"><i class="icon ion-ios-list-outline" data-pack="default"></i></a>
                            <a ng-click="goToEditDataPage(customer)" class="ft-icon-color"><i class="icon ion-android-create"></i></a>
                            <a ng-click="deleteData(customer)" class="ft-icon-color"><i class="icon ion-ios-trash-outline"></i></a>


                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="5" class="text-center">
                            <ul class="pagination"></ul>                        
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>

    </ion-content>

    <div class="tabs tabs-icon-only">
        <a class="tab-item">
            <i class="icon ion-home"></i>
        </a>
        <a class="tab-item">
            <i class="icon ion-plus-circled" ng-click='goToAddDataPage()'></i>
        </a>
        <a class="tab-item">
            <i class="icon ion-gear-a"></i>
        </a>
    </div>
    </div>
</ion-view>

<script type="text/javascript">
    $(function () {

        $('table').footable();
        
    });
</script>