<ion-view title="CUSTOMERS">
    <!--navigation button on top-->
    <ion-nav-buttons side="left">
        <button menu-toggle="left"class="button button-icon icon ion-android-arrow-back"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button menu-toggle="right" class="button button-icon icon ion-android-arrow-forward"></button>
    </ion-nav-buttons>

    <div ng-controller="Customer">
    <!-- content-->
    <ion-content class="has-header" >
        <div class="ft-container">
            <form action="">
                <div class="list">
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Customer Name</span>
                        <input type="text" placeholder="Enter Customer Name" name="customer_name" ng-model="formData.customer_name">
                    </label>

                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Customer First Name</span>
                        <input type="text" placeholder="Enter First Name" name="customer_firstname" ng-model="formData.customer_firstname">
                    </label>

                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Customer Last Name</span>
                        <input type="text" placeholder="Enter Last Name" name="customer_lastname" ng-model="formData.customer_lastname">
                    </label>

                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Email</span>
                        <input type="text" placeholder="example@example.com" name="customer_email" ng-model="formData.customer_email">
                    </label>

                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Phone Number</span>
                        <input type="text" placeholder="Enter Phone Number" name="customer_phone" ng-model="formData.customer_phone">
                    </label>

                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Mobile Number</span>
                        <input type="text" placeholder="Enter Mobile Number" name="customer_mobile" ng-model="formData.customer_mobile">
                    </label>

                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Fax number</span>
                        <input type="text" placeholder="Enter Fax number" name="customer_fax" ng-model="formData.customer_fax">
                    </label>

                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Address</span>
                        <input type="text" placeholder="Enter Valid Address" name="customer_address" ng-model="formData.customer_address">
                    </label>

                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Postcode</span>
                        <input type="text" placeholder="Postcode" name="customer_postcode" ng-model="formData.customer_postcode">
                    </label>

                    <label class="item item-input item-stacked-label">
                        <span class="input-label">State</span>
                        <input type="text" placeholder="Enter state" name="customer_state" ng-model="formData.customer_state">
                    </label>

                    <div class="list">
                        <label class="item item-input item-stacked-label">
                            <div class="input-label">
                                Country
                            </div>
                            <br/>
                            <select ng-model="formData.country_id">
                                <option ng-repeat="country in country_list" value="{{country.country_id}}">{{country.country_name}}</option>
                            </select>
                        </label>
                    </div>

                    <div class="padding">
                        <button type="button" class="button button-assertive ion-android-checkbox-outline button-block" ng-click="addData()" ng-show="btnAdd">&nbsp;&nbsp;Submit</button>
                        <button type="button" class="button button-assertive ion-android-checkbox-outline button-block" ng-click="editData()" ng-show="btnEdit">&nbsp;&nbsp;Save</button>
                        <br><br><br>
                    </div>
                </div>
            </form>
        </div>
        <script type="text/javascript">
            $(function () {
                $('table').footable();

                $('.colour-switch a').click(function(e) {
                    e.preventDefault();
                    $('.colour-switch a').each(function() {
                        $('table').removeClass($(this).data('class'));
                    });
                    $('table').addClass($(this).data('class'));
                });
            });
        </script>
    </ion-content>
    <div class="tabs tabs-icon-only">
        <a class="tab-item">
            <i class="icon ion-arrow-left-b" ng-click="backCustomer()"></i>
        </a>
        <a class="tab-item">
            <i class="icon ion-plus-circled"></i>
        </a>
        <a class="tab-item">
            <i class="icon ion-gear-a"></i>
        </a>
    </div>
    </div>
</ion-view>