<div ng-controller="Invoice" ng-app="invoiceModule">
<ion-view title="INVOICES">

    <!--navigation button on top-->
    <ion-nav-buttons side="left">
        <button menu-toggle="left"class="button button-icon icon ion-android-arrow-back"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button menu-toggle="right" class="button button-icon icon ion-android-arrow-forward"></button>
    </ion-nav-buttons>

    <!-- content-->
    <ion-content class="has-header">
        <ion-refresher
        pulling-text="Pull to refresh..."
        on-refresh="doRefresh()">
        </ion-refresher>
         <div class="ft-container">
            <table class="footable" data-page-size="5">
                <thead>
                <tr>
                    <th>
                        Invoice Number
                    </th>
                    <th>
                        Date Issued
                    </th>
                    <th>
                        Invoice Subject
                    </th>
                    <th>
                        Action
                    </th>
                
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="invoice in invoices()">
                    <td>{{invoice.invoice_number}}</td>
                    <td>{{invoice.invoice_date_created}}</td>
                    <td>{{invoice.invoice_subject}}</td>
                    <!-- <td data-value="78025368997">22 Jun 1972</td> -->
                    <!-- <td data-value="1"><span class="status-metro status-active" title="Active">Active</span></td> -->
                    <td>
                        <a ng-click="viewInvoice(invoice)"><i class="icon ion-ios-list-outline" data-pack="default" style=""></i></a>
                        <a ng-click="goToInvoiceItemList(invoice)"><i class="icon ion-clipboard" ></i></a>
                        <a ng-click="goToEditDataPage(invoice)"><i class="icon ion-android-create"></i></a>
                        <a ng-click="deleteData(invoice)"><i class="icon ion-ios-trash-outline"></i></a>


                    </td>
                </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="5" class="text-center">
                        <ul class="pagination">
                        </ul>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
</ion-content>

<div class="tabs tabs-icon-only">
    <a class="tab-item">
        <i class="icon ion-home"></i>
    </a>
    <a class="tab-item">
        <i class="icon ion-plus-circled" ng-click='goToAddDataPage()'></i>
    </a>
    <a class="tab-item">
        <i class="icon ion-gear-a"></i>
    </a>
</div>
</ion-view>
</div>
<script type="text/javascript">
    $(function () {
        $('table').footable();
    });
</script>