<div ng-controller="Job">
<ion-view title="Jobs">

    <!--navigation button on top-->
    <ion-nav-buttons side="left">
        <button menu-toggle="left"class="button button-icon icon ion-android-arrow-back"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button menu-toggle="right" class="button button-icon icon ion-android-arrow-forward"></button>
    </ion-nav-buttons>

    <!-- content-->
    <ion-content class="has-header">
        <ion-refresher
        pulling-text="Pull to refresh..."
        on-refresh="doRefresh()">
        </ion-refresher>
        <div class="ft-container">
            <table class="footable" data-page-size="5">
                <thead>
                <tr>
                    <th>
                        Job title
                    </th>
                    <th>
                        Date start
                    </th>
                    <th>
                        Due Date
                    </th>
                    <th>
                        Action
                    </th>
                
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="job in jobs">
                    <td>{{job.job_title}}</td>
                    <td>{{job.job_date_start}}</td>
                    <td>{{job.job_due_date}}</td>
                  <!-- <td data-value="78025368997">22 Jun 1972</td> -->
                    <!-- <td data-value="1"><span class="status-metro status-active" title="Active">Active</span></td> -->
                    <td>
                        <a ng-click="viewJob(job)"><span class="glyphicon glyphicon-list"></span></a>
                        <a ng-click="goToAddJobTask(job)"><span class="icon ion-clipboard" ></span></a>
                        <a ng-click="goToEditDataPage(job)"><span class="glyphicon glyphicon-pencil"></span></a>
                        <a ng-click="deleteData(job)"><span class="glyphicon glyphicon-trash"></span></a>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="5">
                        <div class="pagination pagination-centered"></div>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
</ion-content>
  <div class="tabs tabs-icon-only">
  <a class="tab-item">
    <i class="icon ion-home"></i>
  </a>
   <a class="tab-item">
    <i class="icon ion-plus-circled" ng-click='goToAddDataPage("add")'></i>
  </a>
  <a class="tab-item">
    <i class="icon ion-gear-a"></i>
  </a>
</div>
</ion-view>
</div>
