<style type="text/css">
.separator{
  border-left:1px solid #A9A9AA;
  width:1px;
  height:70px;
  margin:0 10px;
}
</style>


<ion-view title="JOB TASKS">

    <!--navigation button on top-->
    <ion-nav-buttons side="left">
        <button menu-toggle="left"class="button button-icon icon ion-android-arrow-back"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button menu-toggle="right" class="button button-icon icon ion-android-arrow-forward"></button>
    </ion-nav-buttons>
<div ng-controller="Job" ng-app="jobModule">
    <!-- content-->
    <ion-content class="has-header">
        <ion-refresher
        pulling-text="Pull to refresh..."
        on-refresh="doRefresh()">
        </ion-refresher>
        <div class="ft-container">
        <div cg-busy="myPromise"></div>
            <ion-list>
              <ion-item ng-repeat="task in job_task_list">
               <h3><strong>{{$index + 1}}. <i class="icon ion-ios-pricetags"></i>  Job Task Due Date :</strong> {{task.job_task_due_date}} 
               <a ng-click="modal_show(task,'edit', 'Edit Job Task')" style="float:right" class="ft-icon-color"><i class="icon ion-android-create"></i></a> 
               <a ng-click="deleteTask(task)" style="float:right" class="ft-icon-color"><i class="icon ion-ios-trash-outline"></i></a>
               </h3>

               <div style="margin-left:25px">
                  <div style=""><h3><i class="icon ion-ios-arrow-thin-right"></i> <strong>Product name</strong> : {{task.product_id != null ? task.product_name : 'No description product for this task'}}<h3></div>
                <span>
                    <span><i class="icon ion-ios-alarm-outline"></i> :</span>
                    <span>{{task.job_task_hour}} Hours</span>
                 </span>
                    <span class="separator"></span>
                 <span>
                    <span>Percent :</span>
                    <span>
                    {{
                          task.job_task_percentage == true || task.job_task_percentage == 1 ? 100 
                        : task.job_task_percentage == false || task.job_task_percentage == 0 ? 0 : 0
                    }}%
                    </span>
                 </span>
                    <span class="separator"></span>
                 <span>
                    <span><i class="icon ion-social-usd-outline"></i> :</span>
                    <span>${{task.job_task_amount}}</span>
                 </span>
                    <br/>
                 <span >
                    <span><i class="icon ion-ios-more-outline"></i> <i class="icon ion-ios-more-outline"></i></span>
                      <br/>
                    <span style="overflow:inherit;text-overflow:inherit;white-space:normal;" >{{task.job_task_description}}</span>
                </span> 
               </div>
              </ion-item>

            </ion-list>
            <script id="modal.html" type="text/ng-template">
                      <ion-modal-view >
                        <ion-header-bar class="bar bar-header head">
                          <h1 class="title">{{myModal.title}}</h1>
                          <button class="button button-clear button-primary" ng-click="modal_hide('{{myModal.type}}')">Cancel</button>
                        </ion-header-bar>
                        <ion-content class="padding">
                              <button class="button button-small button-energized" ng-click="modal_product.show()">Choose from product</button>
<br/><br/>
                          <div class="list">
                          <label class="item item-input" >
                              <i class="icon ion-ios-list-outline" data-pack="default"></i>
                              <span class="input-label">Description</span>
                              <input ng-model="formData.job_task_description"  type="text" >
                            </label>
                            <label class="item item-input">
                              <i class="icon ion-ios-alarm-outline" data-pack="default"></i>  
                              <span class="input-label">Hour</span>
                              <input ng-model="formData.job_task_hour" type="text" ng-keyup="calculate_amount(formData.job_task_hour, job_hour)">
                              <input ng-model="job_hour" type="hidden">
                            </label>
                            <label class="item item-input">
                              <i class="icon ion-social-usd-outline" data-pack="default"></i>
                              <span class="input-label">Amount</span>
                              <input ng-model="formData.job_task_amount" type="text"/>
                            </label>
                            <label class="item item-input" >
                              <i class="icon ion-ios-calendar-outline" data-pack="default"></i>
                              <span class="input-label">Due Date</span>
                              <input ng-model="formData.job_task_due_date" type="date" value="2012-11-08">

                             
                  
                            </label>
                            <label class="item item-input item-select">
                                    <i class="icon ion-ios-list-outline" data-pack="default"></i>
                                    <span class="input-label">Staff</span>                                  
                                  <select ng-model="formData.user_id" style="float:left">
                                     <option ng-repeat="a in user_meta" value="{{a.user_id}}">{{a.first_name + a.last_name}}</option>        
                                  </select>
                            </label>
                            <label class="item item-input">
                              <i class="icon ion-ios-pricetags-outline" data-pack="default"></i>
                              <span class="input-label">%</span>
                              <span class="item item-checkbox" style="border:none;">
                                   <i class="checkbox" style="border:none;margin-left:5px;margin-top:-25px;">
                                     <input type="checkbox"  ng-model="formData.job_task_percentage" ng-checked="formData.job_task_percentage">

                                   </i>
                                   </span>                                   
                            </label>
                            <input ng-model="formData.job_id" type="hidden">
                            <input ng-model="formData.product_id" type="hidden">                             
                            <button class="button button-full button-assertive" ng-click="addJobTaskData(formData)" ng-show="add_button" ng-init="false">Add Item</button>
                            <button class="button button-full button-assertive" ng-click="editJobTaskData()" ng-show="edit_button" ng-init="false">Save</button>
                          </div>
                        </ion-content>
                      </ion-modal-view>
                    </script>


                    <script id="modal_product.html" type="text/ng-template">
                      <ion-modal-view >
                        <ion-header-bar class="bar bar-header head">
                          <h1 class="title">{{myModal.title}}</h1>
                          <button class="button button-clear button-primary" ng-click="modal_product.hide()">Cancel</button>
                        </ion-header-bar>
                        <ion-content class="padding">
                          <div class="list">
                          
                            <label class="item item-input" >
                              <i class="icon ion-ios-list-outline" data-pack="default"></i>
                              <span class="input-label">Choose Product</span>
                              <select ng-model="modal_product.pro_id">
                                     <option ng-repeat="a in products" value="{{a.product_id}}">{{a.product_name}}</option>        
                              </select>
                            </label>
                            
                       
                            <button class="button button-full button-assertive" ng-click="choose_product()">Choose</button>
                            <button class="button button-full button-assertive" ng-click="editTaskData()" ng-show="s_button" ng-init="false">Save</button>
                          </div>
                        </ion-content>
                      </ion-modal-view>
                    </script>
                    <br/>
                    <br/>
                    <br/>
        </div>
</ion-content>
  <div class="tabs tabs-icon-only">
   <a class="tab-item">
    <i class="icon ion-arrow-left-b" ng-click="backToJob()"></i>
  </a>
   <a class="tab-item">
    <i class="icon ion-plus-circled" ng-click="modal_show('','add','Add Job Task')"></i>
  </a>
  <a class="tab-item">
    <i class="icon ion-gear-a"></i>
  </a>
</div>
</ion-view>
</div>






