<ion-view title="{{company_name}}" ng-controller="titleCtrl">
<ion-content class="bg">  
<div ng-controller="Login">
  <div class="col">
  <p class="logo"><i class="icon ion-arrow-graph-up-right custom-icon"></i></p>
  <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
    <form ng-submit="">
      <div class="list list-inset">
        <label class="item item-input">
          <input type="text" placeholder="Enter username" ng-model="username" value="">
        </label>
        <label class="item item-input">
          <input type="password" placeholder="Enter password" ng-model="password" value="">
        </label>
      </div>
      <div class="padding">
        <button class="button button-block button-assertive" ng-click="doLogin()">Submit</button>
      </div>
    </form>
     <p class="copyright" align="center">2015 &copy; Copyright SeGi MiDae - Media Solutions</p>
  </div>
</div>
</ion-content>
</ion-view>

