<ion-view title="DASHBOARD" ng-controller="mainController"  ng-app="mainModule">

    <!--navigation button on top-->
    <ion-nav-buttons side="left">
        <button menu-toggle="left"class="button button-icon icon ion-android-arrow-back"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button menu-toggle="right" class="button button-icon icon ion-android-arrow-forward"></button>
    </ion-nav-buttons>

    <!-- content-->
	<ion-content class="has-header padding">
    <div>
    <div>
        <div class="span12">
            <!-- <input ng-model="chartConfig.title.text">
            <button ng-click="addSeries()">Add Series</button>
            <button ng-click="addPoints()">Add Points to Random Series</button>
            <button ng-click="removeRandomSeries()">Remove Random Series</button>
            <button ng-click="swapChartType()">Line/Bar</button>
            <button ng-click="toggleLoading()">Loading?</button> -->

            <div class="list">

            <label class="item item-input item-select">
              <div class="input-label">
                Year
              </div>
              <select ng-model="thisYear" ng-change="changeYear(thisYear)">
                <option ng-repeat="tahun in years" value="{{tahun}}">{{tahun}}</option>
              </select>
            </label>

          </div>
          <div ng-show="emptyData" ng-init="false">No sales for this year</div>
        </div>
        <div cg-busy="myPromise"></div>
        <div class="row">
        
            <highchart id="chart1" config="chartConfig" class="span10" ></highchart>
        </div>
    </div>
    </div>

  </ion-content>
</ion-view>
  