<div ng-controller="Quote">
<ion-view title="Quotes">

    <!--navigation button on top-->
    <ion-nav-buttons side="left">
        <button menu-toggle="left"class="button button-icon icon ion-android-arrow-back"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button menu-toggle="right" class="button button-icon icon ion-android-arrow-forward"></button>
    </ion-nav-buttons>

    <!-- content-->
    <ion-content class="has-header" >
        <ion-refresher
        pulling-text="Pull to refresh..."
        on-refresh="doRefresh()">
        </ion-refresher>
        <div class="ft-container">
        <form action="">
            <div class="list">
              <label class="item item-input item-stacked-label">
                <span class="input-label">Quote Subject</span>
                <input type="text" placeholder="Segimidae" name="quote_subject" ng-model="formData.quote_subject">
              </label>
              <label class="item item-input item-stacked-label">
                <span class="input-label">Quote Date Created</span>
                <input type="text" placeholder="Segimidae" name="quote_date_created" ng-model="formData.quote_date_created">
              </label>
              <label class="item item-input item-stacked-label">
                <span class="input-label">Quote valid until</span>
                <input type="text" placeholder="Segimidae" name="quote_valid_until" ng-model= "formData.quote_valid_until">
              </label>
              <label class="item item-input item-stacked-label">
                <span class="input-label">Quote Discount</span>
                <input type="text" placeholder="Segimidae" name="quote_discount" ng-model="formData.quote_discount">
              </label>
              <label class="item item-input item-stacked-label">
                <span class="input-label">Customer Notes</span>
                <input type="text" placeholder="Segimidae" name="quote_customer_notes" ng-model="formData.quote_customer_notes">
              </label>
              <label class="item item-input item-stacked-label">
                <span class="input-label">Status<span>
                <input type="text" placeholder="Segimidae" name="quote_status" ng-model="formData.quote_status">
              </label>
              
            <div class="padding">
                <button type="button" class="button button-energized ion-android-checkbox-outline button-small" ng-click="addData()" ng-show="btnAdd">&nbsp;&nbsp;Submit</button>
                <button type="button" class="button button-energized ion-android-checkbox-outline button-small" ng-click="editData()" ng-show="btnEdit">&nbsp;&nbsp;Save</button>
           <!-- <button class="button icon-left ion-star button-positive">Favorites</button> -->
            </div>
        </form>
</div>
        </div>
<script type="text/javascript">
    $(function () {
        $('table').footable();

        $('.colour-switch a').click(function(e) {
            e.preventDefault();
            $('.colour-switch a').each(function() {
                $('table').removeClass($(this).data('class'));
            });
            $('table').addClass($(this).data('class'));
        });
    });
</script>
</ion-content>
  <div class="tabs tabs-icon-only">
  <a class="tab-item">
    <i class="icon ion-home"></i>
  </a>
  <a class="tab-item">
    <i class="icon ion-plus-circled"></i>
  </a>
  <a class="tab-item">
    <i class="icon ion-gear-a"></i>
  </a>
</div>
</ion-view>
</div>
