<div ng-controller="Website">
<ion-view title="Websites">

    <!--navigation button on top-->
    <ion-nav-buttons side="left">
        <button menu-toggle="left"class="button button-icon icon ion-android-arrow-back"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button menu-toggle="right" class="button button-icon icon ion-android-arrow-forward"></button>
    </ion-nav-buttons>

    <!-- content-->
    <ion-content class="has-header" >
        <ion-refresher
        pulling-text="Pull to refresh..."
        on-refresh="doRefresh()">
        </ion-refresher>
        <div class="ft-container">
            <div class="list">
  <label class="item item-input item-stacked-label">
    <span class="input-label">First Name</span>
    <input type="text" placeholder="John">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Last Name</span>
    <input type="text" placeholder="Suhr">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Email</span>
    <input type="text" placeholder="john@suhr.com">
  </label>
</div>
        </div>
<script type="text/javascript">
    $(function () {
        $('table').footable();

        $('.colour-switch a').click(function(e) {
            e.preventDefault();
            $('.colour-switch a').each(function() {
                $('table').removeClass($(this).data('class'));
            });
            $('table').addClass($(this).data('class'));
        });
    });
</script>
</ion-content>
  <div class="tabs tabs-icon-only">
  <a class="tab-item">
    <i class="icon ion-home"></i>
  </a>
  <a class="tab-item">
    <i class="icon ion-plus-circled" ng-click='addData()'></i>
  </a>
  <a class="tab-item">
    <i class="icon ion-gear-a"></i>
  </a>
</div>
</ion-view>
</div>
